
/**
 * Admin toolbar
 */
.toolbar-icon-system-locale-ui-translations:before {
    background-image: url(../images/icons/787878/toolbar.svg);
}
.toolbar-icon-system-locale-ui-translations:active:before,
.toolbar-icon-system-locale-ui-translations.is-active:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}


/**
 * Adminimal toolbar
 */
.adminimal-admin-toolbar .toolbar-icon-system-locale-ui-translations:before {
    background-image: url(../images/icons/acacac/toolbar.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-locale-ui-translations:before,
.adminimal-admin-toolbar .toolbar-icon-system-locale-ui-translations:hover:before,
.adminimal-admin-toolbar .toolbar-icon-system-locale-ui-translations:active:before,
.adminimal-admin-toolbar .toolbar-icon-system-locale-ui-translations.is-active:before {
    background-image: url(../images/icons/ffffff/toolbar.svg);

}
